.item {
    color: darkorange;
}

.item img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

span {
    color: mediumvioletred;
}
.item span img {
    height: 12px;
    width: 12px;
    border-radius: 0px;
}