.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItem{
    padding: 15px;
}

.active{
    color: goldenrod;
}

.dialog a{
    text-decoration: none;
    color: black;
}

.dialog a.active{
    color: goldenrod;
}


.messages{
    padding: 15px;
    background-color: lavender;
}

.message{}