.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItem{
    padding: 15px;
}


.messages{
    padding: 15px;
    background-color: lavender;
}

.send{
    vertical-align: bottom;
}
